* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-control {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-color: black !important;
    border-bottom-width: 2px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    height: 30px;
    border-radius: 0;

}

.navbar {
    background-color: white !important;
    background: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
    height: 60px;
}

.fa-solid {
    margin-top: 20px;
    margin-right: 60px;
}

.fa-lg {
    margin-top: 20px;

}

 

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-hr {
    position: relative;
    margin-left: 150px;
    top: -100px;
    flex: 1;
    
  }
  .left-hr hr{
    width: 100px;
    
    
  }
.left-old{
    position: relative;
    margin-left: 150px;
    top: -30px;
    flex: 1;
     
}

.left-old hr{
    width: 100px;
    
}
  .right-hr {
    position: relative;
    margin-top: 30px;
    padding: 30px;
    font-size: larger;
    right: 130px;
    
    
    flex: 1;
   
  }

  .right-hr p{
    color: goldenrod;
    
  }

  .right-hr h1{
    font-weight: 900;
    font-size: 50px;
  } 
  .right-hr span{
    
    color: rgb(175, 175, 175);
    font-weight: 700;
    
  }

  .container-content {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .left-image {
    margin-left: 190px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  .left-image img{
    width: 350px;
    height: 430px;
  }
  
  .right-content {
    margin-left: 50px;
    flex-grow: 1;    
  }
  .right-content p{
    color: rgb(175, 175, 175);  
    letter-spacing: 8px;
    font-weight: 800;
  }
  .right-content h2{
    margin-bottom: 20px;
    font-weight: 900;
  }
  
  .right-content span {
    max-width: 70%; 
    display: inline-block;
    color: rgb(151, 151, 151);
    font-weight: 600;
    
    
  } 
  
  .container-cont {
    display: flex;
    align-items: center;
  }
  
  .left-content {
    margin-top: 50px;
    margin-left: 190px;
    flex-grow: 1;
  }
  .left-content p{
    color: rgb(175, 175, 175);  
    letter-spacing: 8px;
    font-weight: 800;
  }
  .left-content h2{
    margin-bottom: 20px;
    font-weight: 900;
  }
  .left-content span{
    max-width: 70%;
    display: inline-block;
    color: rgb(151, 151, 151);
    font-weight: 600;
  }
  
  .right-image {
    margin-top: 50px;
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 190px;
  }
 
  
  .right-image img {
    width: 430px;
    height: 300px;
  }


  .milestone {
    margin-top: 90px;
    background-color: rgb(250, 250, 250);
    display: flex;
  }
  
  
  .left-mile {
    margin-top: 40px;
    margin-left: 40px;
    flex-basis: 50%;
    padding-right: 20px;
  }
  .left-mile h2{
    font-weight: 700;
  }
  .left-mile p{
    width: 60%;
    color: gray;
    font-weight: 600;
  }
  
  .right-mile {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .right-mile h2{
    font-weight: 600;
  }
  .right-mile p{
    color: gray;
    font-weight: 600;
  }
  
  .right-mile > div {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  
  .right-mile h2,
  .right-mile p {
    margin: 0;
  }

  
  
  .samsa {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .left-img {
    margin-top: 30px;
    margin-left: 190px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  .left-img img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
  }
  
  .right-cont {
    margin-left: 50px;
    flex-grow: 1;    
  }
  .right-cont p{
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    width: 80%;
    letter-spacing: 3px;
    font-size: x-large; 
    
    font-weight: 800;
  }
  .right-cont h4{
    color: goldenrod;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .right-cont span {
    max-width: 80%; 
    display: inline-block;
    color: rgb(151, 151, 151);
    font-weight: 600;
  }

  .our-team{
    margin-top: 80px;
  }
.hrr{
    position: absolute;
    left: 280px;
    width: 80px;
}
.our-cnt p{
    margin-top: 10px;
    text-align: center;
    color: goldenrod;
    letter-spacing: 3px;
    font-weight: 800;
    margin-right: 290px;
}
.our-cnt h1{
    text-align: center;
    margin-right: 230px;
    font-weight: 900;
    font-size: 60px;
}

.our-cnt span{
color: gray;
font-weight: 700;
display: inline-block;
margin-left: 420px;
max-width: 50%;
}
  .team-members {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; 
  }
  
  .team-member {
    position: relative;
    text-align: center;
    margin-top: 10px;
    width: calc(25% - 10px);
  }
  
  .team-member img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  
  .team-member h3 {
    margin-top: 10px;
  }
  
  .team-member p {
    margin-top: 5px;
  }
  
  .team-content {
    text-align: center;
    margin-top: 20px;
  }
  



  swiper-container {
    margin-top: 50px;
    width: 100%;
    height: 200px;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    object-fit: cover;
    border-radius: 50%;
    opacity: 50%;
    width: 100px;
    height: 100px;
  }

  .mySwiper{
    background-color: rgb(235, 235, 235);
  }
  
  .t-shirt{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 400px;
  }

  .shirt{
    margin-top: 50px;
    text-align: center;
    
  }
  .shirt h2{
    margin-left: 230px;
    width: 800px;
    
  }

  .left-shirt{
    position: relative;
   top: 180px;
    left: -850px;
   
  }
  .left-shirt p{
   width: 400px;
   color: rgb(206, 205, 205);
   font-weight: 600;
    
  }
  .right-shirt p{
    width: 400px;
    color: rgb(206, 205, 205);
   font-weight: 600;
  }

  .right-shirt{
   position: relative;
   right: 800px;
    top: 180px;
   
  }


  .service{
    position: relative;
    height: 250px;
    margin-top: 40px;
    background-color: rgb(241, 240, 240);
}
.support > i{
   position: relative;
   top: 25px;
    right: 30px;
}

.support{
    display: inline-block;
    margin-left: 80px;
    margin-top: 70px;
}
 #description h4{
    font-weight: 900;
}
#description p{
    color: rgb(175, 175, 175);
    font-weight: 700;
}

.block-container {
    display: flex;
  }
  
  .block {
    margin-top: 30px;
    display: inline-block;
    margin-right: 20px;
    
    
    
    
    
  }
  .block li{
    font-size: 16px;
    font-weight: 900;
    color: rgb(221, 220, 220);
    list-style: none;
    margin-top: 10px;
    margin-right: 50px;
    width: max-content;
    
  }


   #email{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
    
  }
  #email:focus{
outline: none;
  }
  .fa-regular{
    position: relative;
    top: 5px;
    right: 12px;
  }

  .block p{
    font-weight: 900;
   
    margin-left: 30px;
  }
  .block h4{
    margin-left: 40px;
    margin-top: 30px;

  }
  .block span{
    color: rgb(219, 217, 217);
    width: max-content;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 700;
    font-size: medium;
  }
  

