* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-control {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-color: black !important;
    border-bottom-width: 2px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    height: 30px;
    border-radius: 0;

}

.navbar {
    background-color: white !important;
    background: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) !important;
    height: 60px;
}

.fa-solid {
    margin-top: 20px;
    margin-right: 60px;
}

.fa-lg {
    margin-top: 20px;

}

 

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-hr {
    position: relative;
    margin-left: 150px;
    top: -100px;
    flex: 1;
    
  }
  .left-hr hr{
    width: 100px;
    
    
  }
.left-old{
    position: relative;
    margin-left: 150px;
    top: -30px;
    flex: 1;
     
}

.left-old hr{
    width: 100px;
    
}
  .right-hr {
    position: relative;
    margin-top: 30px;
    padding: 30px;
    font-size: larger;
    right: 130px;
    
    
    flex: 1;
   
  }

  .right-hr p{
    color: goldenrod;
    
  }

  .right-hr h1{
    font-weight: 900;
    font-size: 50px;
  } 
  .right-hr span{
    
    color: rgb(175, 175, 175);
    font-weight: 700;
    
  }