* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    color: #343a40;
    background: #e9ecef;
    position: relative;

}

.col-1 {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-phone{
    position: relative;
    bottom: 15px;
    left: 50px;
}

p {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fa-twitter {
    margin-right: 30px;
    margin-left: 10px;
}

.col-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.dropdown .btn {

    background-color: transparent;
    color: black;
    font-weight: bold;
    border: none;}

    &:hover {
        background-color: transparent;
        color: black;
        font-weight: bold;
        border: none;


    }



.form-control {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-color: black !important;
    border-bottom-width: 2px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    height: 30px;
    border-radius: 0;

}


.form-control {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-color: black !important;
    border-bottom-width: 2px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    height: 30px;
    border-radius: 0;

}

.navbar {
    background-color: white !important;
    background: transparent;
}

.fa-solid {
    margin-top: 20px;
    margin-right: 60px;
}

.fa-lg {
    margin-top: 20px;

}

.carousel {
    transition: opacity .3s ease !important;
}


.description {
    font-size: xx-large;
    margin-top: 100px;
    display: inline-block;
    margin-left: 50px;
}

.description>p {
    font-size: large;

}

.description>h1 {
    font-weight: 700;
    font-size: 80px;
}

.description > button {
    background: transparent;
    height: 30px;
    width: 160px;
    font-size: large;
    border-color: #a38b02;
    color: #a38b02;

}


.carousel-item>img {
    display: inline-block !important;
    float: right;
    width: 300px;
    margin-right: 20%;
}

 span{
    font-size:20px;
}

#sec-slide button{
    display: block;
    margin-top: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
.container{
   display: flex;
   flex-direction: column; 
    
}

.head{
    width: 700px;
}
.head > p,
.head span{
    color: gray;
    
    
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.frst-obj{
    height: min-content;
  display: table;
  flex: 1;
    width: min-content;
    margin-left: 15%;
    margin-top: 160px;
    -webkit-transition: all .2s ease-in-out;
    transition: 0.5;
}
.frst-obj:hover{
    -webkit-transform: scale(1.1);
}
.frst-obj > img {
   
    width: 280px;
    height: 300px;
   
    
}
.frst-obj > h2{
    font-weight: 700;
}
.frst-obj > p,
.frst-obj h2,
.frst-obj span{
    font-size:x-large;
}



.scnd-obj{
    position: relative;
   
    margin-left: 130px;
    align-items: center;
    width: min-content;
       
    top: 60px;
    -webkit-transition: all .2s ease-in-out;
    transition: 0.5;
}
.text-container {
    display: flex;
    position: absolute;
    right: 370px;
    margin-top: 90px;
    flex-direction: column;
    margin-left: 10px; 
}
.text-container > h2{
    font-weight: 700;
}

.scnd-obj:hover{
    -webkit-transform: scale(1.1);
}

.scnd-obj > img {
   
    width: 400px;
    height: 450px;
   
    
}

.thrd-obj{
    position: relative;
   margin-top: 20px;
    height: min-content;
    align-items: center;
    width: min-content;
     left: 100px;
  
    -webkit-transition: all .2s ease-in-out;
    transition: 0.5;
}

.thrd-obj:hover{
    -webkit-transform: scale(1.1);
}

.thrd-obj > img {
   
    width: 400px;
    height: 450px;
   
    
}


.frth-obj{
    position: relative;
    height: min-content;
  display: table;
  flex: 1;
    width: min-content;
    margin-left: 250px;
  
  top: 50px;
    
    -webkit-transition: all .2s ease-in-out;
    transition: 0.5;
}
.frth-obj:hover{
    -webkit-transform: scale(1.1);
}
.frth-obj > img {
   
    width: 280px;
    height: 300px;
   
    
}
.frth-obj > h2{
    font-weight: 700;
}
.frth-obj > p,
.frth-obj h2,
.frth-obj span{
    font-size:x-large;
}


.fth-obj{
    position: relative;
    height: min-content;
  display: table;
  flex: 1;
    width: min-content;
  margin-left: 30px;
  top: 90px;
    
    -webkit-transition: all .2s ease-in-out;
    transition: 0.5;
}
.fth-obj:hover{
    -webkit-transform: scale(1.1);
}
.fth-obj > img {
   
    width: 180px;
    height: 200px;
   
    
}
.fth-obj > h2{
    font-weight: 700;
}
.fth-obj > p,
.fth-obj h2,
.fth-obj span{
    font-size:x-large;
}



.sth-obj{
    position: relative;
   margin-top: 70px;
   margin-right: 290px;
    height: min-content;
    align-items: center;
    width: min-content;
     left: 100px;
  
    -webkit-transition: all .2s ease-in-out;
    transition: 0.5;
}

.sth-obj:hover{
    -webkit-transform: scale(1.1);
}

.sth-obj > img {
   
    width: 450px;
    height: 400px;
   
    
}

.text-cont {
    display: flex;
    width: max-content;
    position: absolute;
    right: 420px;
    margin-top: 90px;
    flex-direction: column;
    margin-left: 10px; 
}
.text-cont > h2{
    font-weight: 700;
}
.black-white{
   position: relative;
   height: 450px;
    width: 100%;

     margin-top: 100px;
     background-color: lightcyan;
     box-sizing: border-box;
   }
 .content-2{
    position: relative;
    margin-left: 180px;
 }

 .content-2 > span{
    color: red;
    width: 200px;
    font-weight: 500;
    letter-spacing:5px;

    
 }

 .content-2 > h2 {
    font-size:xx-large;
    font-weight: 900;
    width: 400px;
 }
#countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
 #countdown li span {
    
    font-size: 4.5rem;
  }
  
  
  .oldprice{
    display: inline-block;
    text-decoration: line-through;
  }
  
  .newprice{
    display: inline-block;
  }
  
  .discount{
    font-family:'Franklin Gothic Small', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(226, 59, 59);
    color: rgb(243, 235, 235);
    border-radius: 5px;
    width: 55px;
    height: 35px;
  }
  
#countdown{
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin-top: 20px;
   margin-left: 175px;
   background-color: white;
   width: fit-content;
}

.black-white > img{
position: absolute;
right: 10px;
top: 20px;
width: 300px;
height: 450px;
background-color: none;
}

.shop-now{
    margin-left: 190px;
    background-color: transparent;
    width: 110px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.shop-now:hover{
    background-color: black;
    color: white;
    
}

.black-white > .blob{
position: absolute;
    top: 0;
    left: 0;
    
}

.card {
    
    border: none;
    display: flex;
    flex-direction: column;
    width: calc(25% - 10px); /* Adjust the width as needed */
  margin-bottom: 20px;
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    margin-top: 100px;
  
   
  }
  
  .card-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .card-image-hover {
    opacity: 1;
    
  }
  
  .card-grid{
    
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }

  .card .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .hover-image {
    opacity: 1;
  }
  
  
  .card .main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-content {
    position: absolute;
    flex: 1;
    padding: 10px;
    background-color: white;
    position: relative;
    z-index: 1;
    border: none;
}
.card-title{
    font-weight: 700;
}

.card-description{
    color: lightgray;
    font-weight: 700;
}
.card-actions {
    display: none;
   position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    transition: bottom 0.5s ease;
}

.card:hover .card-actions {
    display: flex;
}
.add-to-cart{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: white;
    color: black;
    margin-left: 20px;
}
.summer-sales{
    position: relative;
   display: flex;
   height: min-content;
   width: 1000px;
   margin-left: 10%;
    margin-top: 130px;
    background-color:#e0d4ad;
    
   
}

.summer-sales > svg{
    position: relative;
    top:-20px;
    left: -40px;
    width: 350px;
    height: 350px;
    
}

.summer-content{
    width: 900px;
    display: flex;
    display: inline;
    align-items: center;
    position: relative;
    top: 40px;
    left: 150px;
}
.summer-content h1{
    margin-top: 50px;
    font-weight: 900;
    font-size: 60px;
}
.summer-content p{
 width: 100%;
    margin-top: 30px;
    font-weight: 900;
    font-size: x-large;
}

.summer-sales > img{
    position: relative;
     left: 20px;
    width: min-content;
    height: 400px;
    top: -40px;
}

.summer-button{
    position: relative;
    top: 300px;
    right: 200px;
    
    
}
.summer-button > button{
    background-color: #e0d4ad ;
    width: 200px;
    padding: 8px;
    transition: 0.5s;
}
.summer-button button:hover{
    background-color: black;
    color: white;
}

.service{
    position: relative;
    height: 250px;
    margin-top: 40px;
    background-color: rgb(241, 240, 240);
}
.support > i{
   position: relative;
   top: 25px;
    right: 30px;
}

.support{
    display: inline-block;
    margin-left: 80px;
    margin-top: 70px;
}
 #description h4{
    font-weight: 900;
}
#description p{
    color: rgb(175, 175, 175);
    font-weight: 700;
}

.block-container {
    display: flex;
  }
  
  .block {
    margin-top: 30px;
    display: inline-block;
    margin-right: 20px;
    
    
    
    
    
  }
  .block li{
    font-size: 16px;
    font-weight: 900;
    color: rgb(221, 220, 220);
    list-style: none;
    margin-top: 10px;
    margin-right: 50px;
    width: max-content;
    
  }


   #email{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
    
  }
  #email:focus{
outline: none;
  }
  .fa-regular{
    position: relative;
    top: 5px;
    right: 12px;
  }

  .block p{
    font-weight: 900;
   
    margin-left: 30px;
  }
  .block h4{
    margin-left: 40px;
    margin-top: 30px;

  }
  .block span{
    color: rgb(219, 217, 217);
    width: max-content;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 700;
    font-size: medium;
  }
  

